<li>                    
    <div class="ccr-thumbnail">
        <div class="section-thumbnail">
            <img src="{{image}}" alt="{{{title}}}">
        </div>
        <p><a href="{{url}}" class="link">Xem thêm</a></p>
    </div>
    <h5><a href="{{url}}" class="link">{{{title}}}</a></h5>
</li>