<li>                    
    <div class="ccr-thumbnail">
        <img src="{{image}}" alt="{{{title}}}">
        <p><a href="{{url}}">Xem thêm</a></p>
    </div>
    <h5><a href="{{url}}">{{{title}}}</a></h5>
</li>