<section class="featured-sports-news">
    <div class="featured-sports-news-img">
        <a class="read-more" href="{{url}}"><img src="{{image}}" alt="{{{title}}}"></a>
    </div>
    <div class="featured-sports-news-post">
    <h5><a href="{{url}}">{{{title}}}</a></h5>
    <p>{{excerpt words="25"}}...</p>
        <div class="like-comment-readmore">
            <!--i class="fa fa-thumbs-o-up"> 08</i-->
            <a href="{{url}}#disqus_thread">Comments</a>
            <a class="read-more" href="{{url}}">Xem thêm</a>
        </div> <!-- /.like-comment-readmore -->
    </div>


</section> <!-- /#featured-sports-news -->